 .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 250px;
    background: white;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    /* max-height: 500px; */
    max-height: 70vh;
    
}

section{
    padding-bottom: 5px;
}

.mat-row{
    cursor: pointer;
}

.example-header{
    background-color: white;
}

mat-row:nth-child(odd){
    background-color:#F3F3F3;
}

.mat-card {
    padding-bottom: 0;
}

.mat-icon-button{
    padding-top: 8px;
}

#spinnerContainer {
    position: relative;
}

.errorContainer {
    position: absolute;
    padding: 10px;
    margin-top: 150px;
    margin-left: 50px;
}

h2, p{
    font-family: Arial, Helvetica, sans-serif;
}

mat-spinner{
    position: absolute;
    left: calc(50% - 50px);
    margin-top: 10px;
}