<form [formGroup]="newExpenseTypeForm">
  <mat-form-field>
    <input 
      matInput 
      placeholder="Ny utgiftstyp" 
      formControlName="newExpenseTypeName">
  </mat-form-field>
  <div class="button-row">
    <button 
      type="button" 
      (click)="onNewExpenseTypeSubmit()" 
      [disabled]="!newExpenseTypeForm.valid || !newExpenseTypeForm.dirty"
      mat-icon-button color="basic">
        <i class="material-icons" matTooltip="Spara ny typ">create</i>
      </button>
    <button 
      type="reset"
      mat-icon-button color="basic">
        <i class="material-icons" matTooltip="Avbryt">cancel</i>
      </button>
  </div>
</form>

